{% extends "investors/header.html" %}

{% block content %}
    
<body>
    <h1>About</h1>
    <hr>
    <p>
        We're an entrepreneurship platform, and our goal is to make entrepreneurial funding available to the masses, by
        the
        masses. <br>
        And no, we are not a crowdfunding platform. We allow people to invest small amounts in new ventures which may
        not
        require millions of dollars, <br>
        and hence giving them access to these startups which may become the next big thing! And if you're an
        entrepreneur
        who does not require <br>
        millions of dollars, and don't want to go through the hassle of VC firms, this is the right place for you! Avail
        funding through investors <br>
        who will sign up on our platform, and get your journey started!<br>
    </p>
    <hr>
    <p>
        The main problem:
    </p>
    <p>
        A lot of entrepreneurs in your locality/city might be working on their idea, even if it's not the Apple of 2020,
        it
        could be the Apple of 1977.<br>
        You, as an entrepreneur, may not require a lot of money right now, and might want to get your funding quick.
        While
        VC firms are great, <br>
        you can't deny the amount of time you're going to have to put in to get an interview with them. You can sign up
        on
        our platform, have your <br>
        venture verified by us, and we'll give you access to the common citizens who are willing to fund you. <br>
        As an investor, you might already be trading in the stock market, but this is a different thing altogether. This
        platform will give you access <br>
        to these amazing ventures in their early stages; and by investing in them, giving yourself the opportunity to
        reap
        profits for a lifetime.
    </p>
    <hr>
</body>
{% endblock content %}

