{% extends "register/header.html" %}

{% block title%}
<title>
    Investor Homepage
</title>
{% endblock title%}

{% block content %}
<body>


    <div class="container">
    
        <div class="row">
          {% for ent in Entrepreneurs %}
            <div class="col s12 m6">
              <a href="{{ent.pk}}", style="color:#000">
              <div class="card small hoverable white">
                <div class="card-image">
                  
                  <span class="card-title">{{ent.first_name}}</span>
                </div>
                <div class="card-content">
                  <p>{{ent.startup_summary}}</p>
                </div>
                
              </div>
            </div>
          </a>
          
          {% endfor %}
        </div>
       
       </div>

</body>
<br><br>
{% endblock content %}