{% extends "investors/header.html" %}

{% block content %}
<body>


    <div class="container">
    
        <div class="row">
          {% for investor in investors %}
            <div class="col s12 m6">
              <a href="{{investor.pk}}", style="color:#000">
              <div class="card small hoverable white">
                <div class="card-image">
                  <!--<img src="{%  static 'blog/images/card-image-1.jpg' %}"> -->
                  <span class="card-title">{{investor.investor_name}}</span>
                </div>
                <div class="card-content">
                  <p>{{investor.investor_desc}}</p>
                </div>
                
              </div>
            </div>
          </a>
          
          {% endfor %}
        </div>
       
       </div>

</body>
<br><br>
{% endblock content %}