{% extends "register/header.html" %}

{% block title%}
<title>
  Investors' Homepage
</title>
{% endblock title%}

{% block content %}
<div class="container">
  <h3 class="black-text">Entrepreneur Portfolios</h3>
  <hr class="rounded">
</div>

<body>
  <div class="container">
    {% for entrepreneur in Entrepreneurs %}
    <a href="{{entrepreneur.pk}}" , style="padding-top: 100px;">
      <div class="w3-panel w3-border w3-round-large">
        <div class="card-tile">
          <span class="card-title white" style="font-size: 25px; font-weight: 500; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{entrepreneur.first_name}}
            {{entrepreneur.last_name}}</span>
          <div class="card-content black-text">
            <p style="font-size: 18px;">
              Pitch Deck: 
              {% if entrepreneur.prototype is  not None%}
              Available
              {%else%}
              Unavailable
              {%endif%}

              <!-- <a href="{{entrepreneur.prototype}}" class="blue-text" style="text-decoration: underline;"> Pitch deck link</a> -->
              <br>
              Venture: {{entrepreneur.venture_name}}
              <br>
              Investment required: Rs. {{entrepreneur.investment}}
              <br>
              Segment(s):
              {% for industry in entrepreneur.industry.all %}
              {{industry}}
              {%endfor%}
            </p>
          </div>
        </div>
      </div>
    </a>
    {%endfor%}
  </div>
</body>
{% endblock content %}