
<div class="navbar-fixed">
  
    <nav>
      <div class="nav-wrapper black">
        <a href="/" class="brand-logo"> Test Nav </a>
        <a href="#" class="sidenav-trigger" data-target = "mobile-links">
    
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/about/" >About</a></li>
          <li><a href= "/contact/">Contact Us</a></li>
          <li><a href="#">Entrepreneurs</a></li>
          <li><a href= "#">Investors</a></li>
        </ul>
      </div>
    </nav>