{% extends "register/header.html" %}

{% block title%}
<title>
  Entrepreneurs Homepage
</title>
{% endblock title%}

{% block content %}
<div class="container">
  <h3 class="black-text">Investor Portfolios</h3>
  <hr class="rounded">
</div>

<body>
  <div class="container">
    {%for investor in Investors%}
    <a href="{{investor.pk}}">
      <div class="w3-panel w3-border w3-round-large">
        <div class="card-tile">
          <span class="card-title white" style="font-size: 25px; font-weight:500;">{{investor.first_name}}
            {{investor.last_name}}</span>
          <div class="card-content black-text">
            <p style="font-size: 18px;">
              {% for interest in investor.interests.all %}
              {{interest}}
              {%endfor%}
            </p>
          </div>
        </div>
      </div>
    </a>
    {%endfor%}
  </div>
</body>
{% endblock content %}