<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'investors/css/materialize.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%}
    {%endblock title%}
</head>

{% include "register/includes/cssstyle.html" %}

<body>

    {% include "register/includes/navbar.html" %}

    {% include "register/includes/messages.html" %}

    {% block content %}

    {% endblock content %}


</body>


{% include "register/includes/footer.html" %}
<script>M.AutoInit();</script>

</html>