{% extends "register/header.html" %}
{% load static %}
{% block title%}
<title>
    Landing Page
</title>
{% endblock title%}

{% block content %}
<div class="container">
    <p>
        Random text
        aksdads
        sdmad
        askdnaskd
        askdnasda
        kasdksnad
        akdnasknd
        <br>
        jfksfa
        <br>
        jdnkANDNAKNFFD
    </p>
</div>
    
    <br>
    <p>
        <div class="container"><img class="responsive-img" src="{% static 'register/images/option_2.png' %}"></div> 
    </p>
    <br>   
{% endblock content %}
