{% extends "register/header.html" %}
{% load static %}
{% block title%}
<title>
    Artis Home
</title>
{% endblock title%}

{% block content %}
<style>
    /* golden ratio */
    h3 {
        font-size: 40px;
    }

    p {
        font-size: 25px;
    }

    blockquote {
        font-weight: bold;
        font-size: 25px;
    }

    hr.rounded {
        /*golden ratio  */
        border-top: 10px solid rgb(101, 101, 101);
        /* rgb(156, 132, 101); */
        /* rgb(132, 101, 156); */
        /* rgb(101, 132, 156); original golden ratio*/
        border-radius: 10px;
    }

    li {
        list-style: circle;
    }

    ul {
        /* golden ratio */
        font-size: 19px;
    }
</style>

<div class="container">
    <h3 class="blue-text">Artis</h3>
</div>
<hr class="rounded">

<!-- golden ratio -->
<br> <br> <br>
<div class="container" style="font-family: Georgia, 'Times New Roman', Times, serif;">
    <p>
        We believe that all of us should receive equal opportunities, afterall, everyone does start running from the
        same
        starting line.
        <br>
        <br>
        In a post COVID world, we see a lot of development due to entrepreneurs with revolutionary ideas. History is a
        witness to this fact -
        real growth has always been driven by people who "think different" and take an initiative to change the world.
        We truly believe
        that not only do these people need a fair start, but they also need support. That's why, we're here.
    </p>
    <br>
    <hr>
    <br>
</div>

<!-- golden ratio -->
<br> <br>

<div class="row">
    <div class="col s8">
        <div class="container">
            <p class="left-align">
                Approaching investors as a newbie entrepreneur
                is not only difficult, but a rather tedious process. Ideas and passion shouldn't have to die due to a
                lack of money.
            </p>
        </div>
    </div>
    <div class="col s4">
        <div class="container"><img height="320" width="320" class="responsive-img hoverable right-align"
                src="{% static 'register/images/bulb with woman.png' %}"></div>
    </div>
</div>

<!-- golden ratio -->
<br> <br>

<div class="row">
    <div class="col s4">
        <div class="container"><img height="400" width="400" class="responsive-img hoverable left-align"
                src="{% static 'register/images/money with man.png' %}"></div>
    </div>
    <div class="col s8">
        <div class="container">
            <p class="left-align">
                A fairly limited number of "investors" receive access to fund in new startups. We believe this can be
                changed by democraticizing investments,
                where <i>anybody</i> should be able to invest in them. Even if it's Rs. 1 lac, you're an investor.
            </p>
        </div>
    </div>
</div>

<!-- golden ratio -->
<br> <br>

<div class="container">
    <p>
        If there’s anything that we’ve learnt from this quarantine, it is the importance of technology and the
        role
        it plays in keeping us connected. A simple, yet efficient user interface to not only make sure your passion will
        be
        funded, but also for investors to have a seamless experience while they look for an idea to fund!
    </p>
</div>

<!-- golden ratio -->
<br> <br>

<div class="container" style="font-family:'Times New Roman', Times, serif;">
    <p style="font-size: 35px; font-weight: bold;">
        We're a platform that connects entrepreneurs to local investors.
    </p>
</div>
<div class="container" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <p >As an investor:</p>
    <ul style="font-size: 20px;">
        <li style="list-style: circle;">You don't need to invest
            anymore than you want to. Not all entrepreneurs are looking for funding in crores. And you can invest the
            amount you want, in the startup you love.</li>
        <li style="list-style: circle;">A list of all registered entrepreneurs will be displayed, with
            all the necessary information that they have entered themselves.</li>
    </ul>
    <br>
    <p>As an entrepreneur:</p>
    <ul style="font-size: 20px;">
        <li style="list-style: circle;">You can sign up and apply for funding with the way you want - it could be
            funding
            versus ownership, or x% interest returns for the funding you receive - whatever you want.</li>
        <li style="list-style: circle;">Similarly, you'll be able to view a list of all registered investors.</li>
    </ul>
    <br>
</div>
<p>
    <div class="container"><img class="responsive-img hoverable" src="{% static 'register/images/option_2.png' %}"></div>
    </p>
<div class="container" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
   <p> We let entrepreneurs as well as investors review portfolios to find their perfect fit, be it in terms of funding
    needed,
    industry of business, or shared history. And once both parties mutually decide that it's a match - we'll handle the
    rest.</p>
</div>
<!-- golden ratio -->
<br> <br>

<!-- <blockquote class="container flow-text">
    "It's not how much money you make, but how much money you keep, how hard it works for you, and how many
    generations you keep it for."<br>
     We will edit this later, right now I prioritized design over efficient code, can't find a way around this. 
    <i style="font-weight: lighter;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-Robert Kiyosaki</i>
</blockquote> -->
<br> <br> <br>
<footer class="footer">
    <div class="container">
        Copyright 2020, Artis Inc.
    </div>
</footer>
{% endblock content %}