{%load static%}
<html>

<head>
    {%load static%}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css'%}">
    <style>
        body {
            padding-left: 40px;
            padding-right: 40px;
            background-color: antiquewhite;
        }

        h1 {
            padding-top: 40px;
        }
    </style>
</head>
<title>Contact Us</title>

<body>
    <h1>
        Contact Us
    </h1>
    <hr>
    <p>
        Reach out to us: entrepreneurship-platform@entrepreneurship.com
    </p>
</body>

</html>