<style>
    hr.rounded {
        /*golden ratio  */
        border-top: 10px solid rgb(101, 101, 101);
        /* rgb(156, 132, 101); */
        /* rgb(132, 101, 156); */
        /* rgb(101, 132, 156); original golden ratio*/
        border-radius: 10px;
        width: 100%;
    }

    li.round{
        list-style: circle !important; font-size: 18px !important;
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }

    header {
        height: 50px;
        background: lightcyan;
    }

    /* Trick */
    body {
        display: flex;
        flex-direction: column;
    }
    .page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: rgb(101, 101, 101);
padding-bottom: 30px; }

    footer{
        margin-top: auto;
        height: 40px;
        background-color: wheat;
        background: wheat;
        color: wheat;
    }
    h3 {
        font-size: 45px; 
    }

    p {
        font-size: 28px;
    }
</style>