<style>
    hr.rounded {
        /*golden ratio  */
        border-top: 10px solid rgb(101, 101, 101);
        /* rgb(156, 132, 101); */
        /* rgb(132, 101, 156); */
        /* rgb(101, 132, 156); original golden ratio*/
        border-radius: 10px;
    }

    html,
    body {
        height: 100%;
        margin: 0;
    }

    header {
        height: 50px;
        background: lightcyan;
    }

    footer {
        height: 40px;
        background: PapayaWhip;
    }

    /* Trick */
    body {
        display: flex;
        flex-direction: column;
    }

    footer {
        margin-top: auto;
    }
</style>